body {
    /* Taken from wallpapercave.com, thank you! */
    background-image: url("resources/wallpaper.jpg");
    background-repeat: repeat repeat;
}

@font-face {
  font-family: "Varela";
  src: url("resources/varela-round.regular.ttf") format("truetype");
}

.playerName {
    color: black;
    font-size: 36pt;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-family: Varela;
    font-weight: bold;
    letter-spacing: -0.11em;
    text-shadow: 0px 0px 1px #000000;
    margin-bottom: -4px;
}

.sentenceContainer {
    width: 800px;
    height: 150px;
    margin: auto;
    border-radius: 12px;
    background-color: white;
    box-shadow: 5px 5px #888888;
    margin-top: 50px;
    padding-bottom: -2px;
}

.portraitContainer {
    width: 180px;
    height: 205px;
    margin-top: -48px;
    overflow-y: visible;
    float: left;
    border-radius: 12px;
    background-image: url("resources/playerPortrait.png");
    background-size: 100%;
}

.playerSentenceContainer {
    float: right;
    width: 620px;
    height: 100%;
    position: relative;
    display: block;
}

#sentenceBox {
    font-family: Helvetica;
    font-size: 18px;
}

.banner {
    margin: auto;
    width: 475px;
    height: 122px;
    background-image: url("resources/bannerLogo_AmongUs.png");
}

.generateButton {
    position: absolute;
    bottom: 6px;
    border: 4px solid #8DCE2F;
    height: 36px;
    width: 36px;
    background-color: #8DCE2F44;
    border-radius: 4px;
    display: inline-block;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
    text-align: center;
}

.generateButtonText {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    font-family: Varela;
    line-height: 36px;
}

.generateButton:Hover {
    background-color: #ADEE3F44;
}